.ui.container
  %h2.ui.center.aligned.medium.icon.header
    %i.circular.orange.comment.icon
    Say Something

  .ui.two.column.grid

    .twelve.wide.column
      .ui.fluid.raised.card.chatbox
        .content
          = turbo_stream_from "messages"

          .ui.medium.feed
            = turbo_frame_tag "messages" do
              = render @messages

        .extra.content
          = render "form", message: Message.new


    .four.wide.column
      .ui.card.raised.chatbox
        .content
          .ui.inverted.vertical.menu
            %a.active.item Home
            %a.item Messages
            %a.item Friends