.ui.container
  .ui.placeholder.segment
    .ui.two.column.very.relaxed.stackable.grid
      .column
        .ui.form
          .field
            %label Username
            .ui.left.icon.input
              %input{type: "text", placeholder: "Username"}
              %i.user.icon
          .field
            %label Password
            .ui.left.icon.input
              %input{type: "password"}
              %i.lock.icon
          .ui.blue.submit.button Login
      .middle.aligned.column
        .ui.big.button
          %i.signup.icon
          = link_to Sign Up
    .ui.vertical.divider Or
