.ui.container
  %h2.ui.center.aligned.medium.icon.header
    %i.circular.orange.comment.icon
    Say Something

  .ui.two.column.grid

    .twelve.wide.column
      .ui.fluid.raised.card.chatbox
        .content
          .ui.medium.feed
            .event
              .content
                .summary
                  %em Elliot Fu:
                  Jenny Hess as a friend
            .event
              .content
                .summary
                  %em Stevie Feliciano:
                  Elliot Fu as a friend
            .event
              .content
                .summary
                  %em Helen Troy:
                  Christian Rocha as a friend

        .extra.content
          %form.ui.reply.form
            .field
              %input{type:"text", placeholder: "Enter your message here...", required:"true"}
            .ui.bordered.inverted.orange.icon.submit.button
              %i.icon.edit

    .four.wide.column
      .ui.card.raised.chatbox
        .content
          .ui.inverted.vertical.menu
            %a.active.item Home
            %a.item Messages
            %a.item Friends