.ui.large.menu.inverted
  .ui.container
    %a.active.item Home
    %a.item Messages
    .right.menu
      .ui.dropdown.item
        Account
        %i.dropdown.icon
        .menu
          %a.item Log Out
          %a.item Log In
          %a.item Sign Up
      .item
        .ui.primary.button Sign Up
